@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Speech Synthesis</h1>
    <p>A lightweight speech synthesis web tool.</p>
</div>

<div class="text-left">
    <p>
        <form id="frmSpeechSynthesis" name="frmSpeechSynthesis" action="" method="Get">
            <p>
                <label for="selVoice">Voice:</label>
                <select id="selVoice" name="selVoice">
                    <option value="man">Man</option>
                    <option value="woman">Woman</option>
                    <option value="young">Young</option>
                    <option value="old">Old</option>
                </select>
            </p>
            <p>
                <label for="selSpeed">Speed:</label>
                <input type="range" id="selSpeed" name="selSpeed" min="-10" max="10"> 0
            </p>
            <p>
                <label for="txtInput">Text to Speak:</label><br />
                <textarea id="txtInput" name="txtInput" rows="5" cols="60"></textarea>
            </p>

            <p>
                <label for="selVolume">Volume:</label>
                <input type="range" id="selVolume" name="selVolume" min="0" max="100"> 60
            </p>

            <p>
                <input type="submit" id="btnSubmit" name="btnSubmit" value="Synthesise" />
                <input type="reset" id="btnReset" name="btnReset" value="Start Again" />
            </p>
        </form>
    </p>
</div>
<script>const textField = document.getElementById("txtInput"); textField.focus();</script>